body{
 display: flex;
 flex-wrap: wrap;
}
li img{
 place-self: center;
 width: 5vw;
}
ol{
 display: flex;
 justify-content: space-between;
 padding: 0px;
 margin: 0px;
}
li{
 display: flex;
}
li p{
 padding: 1vh 1vw;
 padding-left: 3vw;
 background-color: #42ad3b;
 color: white;
}
nav{
 border-bottom: solid #42ad3b;
 width: 100%;
}
aside{
 float: left;
 color: #42ad3b;
 width: 21vw;
}
aside p{
 text-align: right;
}
aside p:nth-child(2n) {
 text-align: left;
 border-top: #42ad3b solid;
 border-right:  #42ad3b solid;
}

main{
 display: flex;
 flex-direction: column;
 margin: 1vh auto;
}
section{
 width: 70vw;
 margin: 1vh 0px;
}
main section:nth-child(1){
 display: flex;
}
main section:nth-child(2){
 display: flex;
}
section:nth-child(1) div:nth-child(even), section:nth-child(2) div:nth-child(odd){
 border: #42ad3b solid;
}
div{
 display: flex;
 flex-direction: column-reverse;
}

div img{
 width: 10vw;
}


/*div p:nth-of-type(2){
 order: -1;
 background-color: red;
}
div img{
 width: 10vw;
 order: 2;
}
div p:nth-of-type(1){
 order: 3;
 background-color: yellow;
}*/