h1{
 text-align: center;
 text-shadow: 0px -7px 3px black, 0px 7px 3px #7b7b7b;
}
div{
 background-color: #82ffa1;
 margin: 10px;
 padding: 20px;
 
}
div::first-letter{
 font-size: 2em;
}
.caja1{
 border: 15px solid transparent;
 border-image:url("../imagenes/bordes.png") 20 stretch;
}
.caja2{
 border: 15px dashed transparent;
 border-image:url("../imagenes/bordes.png") 20 round;
}
.caja3{
 border: 15px solid transparent;
 border-image:url("../imagenes/bordes.png") 20 repeat;
}