*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    background-image: linear-gradient(to right top, #f6bbff, #f5b8fe, #f4b6fe, #f2b3fd, #f1b0fd, #ddbaff, #cdc2ff, #c0c8ff, #afd6ff, #a6e3ff, #a9edfe, #b7f6f6);
    background-repeat: round;
    /* overflow-x: hidden; */
}
.pagPrincipal{
    margin: 0px;
    height: 100vh;
}
main{
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: repeat(3, 100%);
    grid-gap: 5px; */
    grid-template-areas: 
        "info1"
        "gif"
        "animacion"
        "compra";
}

main div:nth-of-type(1){
    grid-area: info1;
}
main section:nth-of-type(2){
    grid-area: gif;
}
main section:nth-of-type(3){
    grid-area: animacion;
}
main section:nth-of-type(4){
    grid-area: compra;
}
.cookies {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    font-family: arial;
    text-align: center;
    z-index: 5;
    border-radius: 15px 15px 0 0;
}
.cookies h2{
    margin: 0;
    margin-top: 1vh;
}
.cookies p{
    margin: auto;
    color: white;
}
.cookies__boton {
    background: initial;
    border: 2px solid white;
    font-size: 1rem;
    color: white;
    width: 5rem;
    text-align: center;
    height: 4vh;
    border-radius: 1vw;
    margin: 0.3vw;
}
.cookies__botones {
    align-items: center;
    margin: 1vw;
}
.si:hover{
    background-color: lightgreen;
    transition: all .1s linear;
}
.no:hover{
    background-color: lightcoral;
    transition: all .1s linear;
}
h1{
    animation:blur-in 0.5s linear both;
}
h2{ 
    animation:blur-in 0.5s linear both;
    animation-delay: 1s;
}
@keyframes blur-in{
    0%{filter:blur(12px);opacity:0}
    100%{filter:blur(0);opacity:1}
}
#logo{
    position: fixed;
    z-index: 50;
    height: 4vh;
    width: auto;
    right: 1vw;
    top: 1vh;
    transform: scale(1);
    transition-duration: 1s;
}
#logo:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 1vh 0;
}
nav img{
    height: 4vh;
    width: auto;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5vw;
    margin-left: 6vw;
    
}
li{
    list-style: none;
    padding: 1vh 4vw;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 100vw;
    box-shadow: 0px 0px 5px 0px black;
}
li:hover{
    box-shadow: 0px 0px 11px 0px black;
    transition: all .2s linear;
}

li a{
    text-decoration: none;
    color: #3d3d3d;
}
.cabecera {
    padding: 0vh 0vw;
    margin: 0vh 6vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}
.cabecera h1{
    font-size: 12vw;
    color: white;
    text-shadow: 3px 0px 6px black;
    margin-bottom: 0;
}
.cabecera h2{
    font-size: 5vw;
}
.cabecera img{
    display: none;
}
.diagonal{
    transform: skewY(2deg);
    background-color: white;
    width: 100%;
    padding: 3vw 0px;
}
section{
    padding: 2vh 2.5vw;
}
.seccion_diagonal{
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: repeat(3, 100%);
    grid-gap: 5px; */
    grid-template-areas: 
        "h2"
        "p"
        "img";
    justify-items: center;

    transform: skewY(-2deg);
    background-color: white;
}

.seccion_diagonal h2{
    grid-area: h2;
}
.seccion_diagonal p{
    grid-area: p;
}
.seccion_diagonal img{
    grid-area: img;
}
img{
    width: 50vw;
    align-self: center;
}
.seccion_gif{
    display: none;
}
.seccion_animacion{
    display: none;
}
.seccion_compra{
    display: grid;
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 8vh auto;
    grid-gap: 5px; */
    grid-template-areas:
        "h2"
        "precio"
        "boton";
    justify-items: center;


    margin-top: 8vw;
    padding: 0;
    background-color: white;
}
.seccion_compra h2{
    grid-area: h2;
}
.seccion_compra p{
    grid-area: precio;
}
.seccion_compra a{
    grid-area: boton;
    background: #506eff;
    color: white;
    padding: 2vh 24vw;
    text-decoration: none;
}
.seccion_compra a:hover{
    background: #6982ff;
}

footer{
    margin-top: 0vh;
    background-color: rgb(8, 8, 8);
    color: white;
    height: 20vh;
}
footer p{
    margin-top: 0px;
}



@media (min-width:600px){
    *{
        color: red;
    }
    .cabecera h1{
        font-size: 10vw;
    }
    .cabecera h2{
        font-size: 3vw;
    }
    .seccion_gif{
        position: relative;
        display: flex;
        margin-top: 8vw;
        padding: 0;
        /* background-image: url("../img/metagif.gif"); */
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    .seccion_gif img:nth-of-type(2){
        display: none;
    }
    .seccion_gif img{
        width: 100%;
    }
    .seccion_gif div{
        position: absolute;
        left: 35.5vw;
        top: 50%;
    }
    .seccion_gif a{
        padding: 2vh 2vw;
        background: #506eff;
        border-radius: 1vw;
        color: white;
        text-decoration: none;
    }
    .seccion_gif a:hover{
        box-shadow: 0px 0px 11px 0px black;
        transition: all .2s linear;
        background: #6982ff;
    }
    .seccion_animacion{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        color: white;
        margin-top: 8vw;
    }
    .seccion_animacion img{
        width: 3vw;
    }
    .seccion_animacion img:nth-of-type(1){
        height: 65vh;
        position: relative;
        width: 65vw;
    }
    .seccion_animacion img:nth-of-type(2){
        animation:alien ease-in-out both;;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        position: absolute;
        width: 7vw;
    }
    .seccion_animacion img:nth-of-type(3){
        animation:mira ease-in-out both;;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        position: absolute;
    }
    @keyframes alien{
        0%   {left:50%; top:50%;}
        15%  {left:30%; top:30%;}
        40%  {left:60%; top:70%;}
        65%  {left:27%; bottom:10%;}
        80.5% {left:50%; top:50%; width: 7vw;}
        95% {width: 0;}
        100% {left:50%; top:50%;}
    }
    @keyframes mira{
        0%   {left:50%; top:50%;}
        20%  {left:30%; top:30%;}
        45%  {left:60%; top:70%;}
        70%  {left:27%; bottom:10%;}
        80% {left:49.9%; top:49.9%; width: 3vw;}
        80.5% {left:50%; top:50%;width: 4vw;}
        81.5% {left:52%; top:49.5%; width: 3vw;}
        100% {left:50%; top:50%;}
    }

















    .seccion_compra{
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        grid-gap: 5px;
        grid-template-areas: 
            "h2 h2"
            "precio boton";
    }
}
@media (min-width:900px){
    *{
        color: green;
    }
    .cabecera{
        padding: 0;
    }
    .cabecera h1{
        font-size: 8vw;
        color: white;
        text-shadow: 3px 0px 6px black;
        margin-top: 0vh;
    }
    .cabecera h2{
        margin-top: 0;
        font-size: 2.5vw;
        margin-bottom: 1vh;
    }
    .cabecera img{
        display: flex;
        width: 70vh;
        margin-top: 6vh;
        transform: scale(1);
        transition-duration: 1s;
    }
    .cabecera img:hover{
        transform: scale(1.1);
        transition-duration: 1s;
    }
    .seccion_diagonal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 8vh auto; 
        grid-gap: 5px;
        grid-template-areas: 
            "h2 img"
            "p img";
        justify-items: start;
    }
    .seccion_diagonal img{
        width: 30vw;
    }


    .seccion_gif img{
        width: 50%;
    }
    .seccion_gif img:nth-of-type(2){
        display: inline;
    }
    .seccion_gif div{
        position: absolute;
        left: 40.5vw;
        top: 50%;
    }
    
}