*{
 text-align: center;
}
body{
 background-color: rgb(201, 201, 201);
 margin: 0px;
}
header{
 background: linear-gradient(180deg, #7f9eb3, #006ab5);
}
h1{
 margin: 0px;
 color: white;
}
h2{
 margin: 0px;
 color: rgb(208, 230, 255);
}
ul{
 display: flex;
 flex-direction: column;
 list-style-type: none;
 padding: 0px;
}
li{
 background-color: rgb(15, 106, 224);
 border: solid 0.5px white;
 margin: 5px;
 border-radius: 10px;
}
a{
 text-decoration: none;
 color: rgb(179, 179, 179);
 display: inline-grid;
 font-weight: bold;
}
.active{
 color: white;
}
span{
 font-weight: normal;
}
article{
 border: solid 1px;

 background-color: white;
 margin: 25px 10px;
 box-shadow: #252525 5px 5px 7px;
}
.dropcap{
 padding: 5px 15px;
 background-color: #006ab5;
 border-radius: 50px;
 color: white;
}
h3{
 text-align: left;
 margin-left: 4vw;
}
p{
 text-align: left;
 padding: 8px;
}
footer{
 display: none;
}

@media (min-width: 800px){
 body{

 }
 footer{
  display: flex;
 }
}