*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    background-image: linear-gradient(to right top, #f6bbff, #f5b8fe, #f4b6fe, #f2b3fd, #f1b0fd, #ddbaff, #cdc2ff, #c0c8ff, #afd6ff, #a6e3ff, #a9edfe, #b7f6f6);
    background-repeat: round;
    /* overflow-x: hidden; */
}
.pagPrincipal{
    margin: 0px;
    height: 100vh;
}
.cookies {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    font-family: arial;
    text-align: center;
    z-index: 5;
    border-radius: 15px 15px 0 0;
}
.cookies h2{
    margin: 0;
    margin-top: 1vh;
}
.cookies p{
    margin: auto;
    color: white;
}
.cookies__boton {
    background: initial;
    border: 2px solid white;
    font-size: 1rem;
    color: white;
    width: 5rem;
    text-align: center;
    height: 4vh;
    border-radius: 1vw;
    margin: 0.3vw;
}
.cookies__botones {
    align-items: center;
    margin: 1vw;
}
.si:hover{
    background-color: lightgreen;
    transition: all .1s linear;
}
.no:hover{
    background-color: lightcoral;
    transition: all .1s linear;
}
main{
    min-height: 88vh;
}
h1{
    animation:blur-in 0.5s linear both;
    text-align: center;
}
h2{ 
    animation:blur-in 0.5s linear both;
    animation-delay: 1s;
}
@keyframes blur-in{
    0%{filter:blur(12px);opacity:0}
    100%{filter:blur(0);opacity:1}
}
#logo{
    position: fixed;
    z-index: 50;
    height: 4vh;
    width: auto;
    margin: 1vh 0;
    right: 1vw;
    top: 1vh;
    transform: scale(1);
    transition-duration: 1s;
}
#logo:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
ul{
    margin: 1vh 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5vw;
    margin-left: 6vw;
    
}
li{
    list-style: none;
    padding: 1vh 4vw;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 100vw;
    box-shadow: 0px 0px 5px 0px black;
}
li:hover{
    box-shadow: 0px 0px 11px 0px black;
    transition: all .2s linear;
}

li a{
    text-decoration: none;
    color: #3d3d3d;
}

form{
    background-color: white;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    border-radius: 10px;
}

input[type=text], input[type=date], input[type=tel], textarea {
    width: 100%;
}

fieldset{
    border: solid 2px #4481e7;
    border-radius: 10px;
}
.final_form{
    text-align: center;
}
.final_form p{
    font-style: italic;
    font-size: 1vw;
    text-align: left;
}

footer{
    margin-top: 0vh;
    background-color: rgb(8, 8, 8);
    color: white;
    height: 20vh;
}
footer p{
    margin-top: 0px;
}



@media (min-width:600px){
    *{
        color: red;
    }
    fieldset{
        border-style: outset;
        border-width: 6px;
    }
}
@media (min-width:900px){
    *{
        color: green;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "uno dos"
            "tre tre"
            "fin fin";
    }
    fieldset:nth-of-type(1){
        grid-area: uno;
    }
    fieldset:nth-of-type(2){
        grid-area: dos;
    }
    fieldset:nth-of-type(3){
        grid-area: tre;
    }
    .final_form{
        grid-area: fin;
    }
    fieldset{
        border-style: outset double;
        border-width: 10px;
    }
}